<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/file/home.css">
    <title>Microservices voting app</title>
</head>
<body>
    <h1>Hello citizen</h1>
    <p>
        Welcome to the voting app!
    </p>
    <p>Click <a href="/vote">here</a> to go to the voting panel</p>
    <p>
        This app was created to learn working with docker and multiple containers.
        It uses a
        <ul>
            <li><span class="highlight">Nodejs</span> container to handle the functionality</li>
            <li><span class="highlight">Python flask</span> container to user rendering and routing</li>
            <li><span class="highlight">Redis</span> db container to store data</li>
        </ul>
    </p>
</body>
</html>